.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003785;
    color: white;
    height: 70px;
    width: 100%;
}

.options ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    /* Esto hace que los elementos de la lista sean flexibles */
}

.options li {
    position: relative;
    margin-right: 10px;
    padding: 10px;
    /* Ajusta el espacio entre las opciones según sea necesario */
}

.options li:hover {
    background-color: #77c1f9;
}

.logo {
    float: left;
    margin: 10px;
}

.options li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #77c1f9;
    padding: 10px;
}

.options li:hover .submenu {
    display: block;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.logo::before {
    content: "";
    /* Agrega un contenido vacío para que se apliquen los estilos */
    display: inline-block;
    width: 50px;
    /* Ajusta el ancho según sea necesario */
    height: 50px;
    /* Ajusta la altura según sea necesario */
    background-image: url('../../assets/logo.jpg');
    /* Reemplaza 'ruta_de_la_imagen' con la ruta correcta de tu imagen */
    background-size: cover;
    border-radius: 50%;
    /* Hace que la imagen sea redonda */
    margin-right: 10px;
    /* Ajusta el margen a tu gusto */
}