<div class="modal-overlay">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <h2>Registrar Equipo</h2>
        <form>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required [(ngModel)]="equipo.nombre">

            <label for="posicionTabla">Posición en la tabla:</label>
            <input type="number" id="posicionTabla" name="posicion_tabla" required [(ngModel)]="equipo.posicion_tabla">

            <label for="anioFundacion">Año de fundación:</label>
            <input type="number" id="anioFundacion" name="anio_fundacion" required [(ngModel)]="equipo.anio_fundacion">

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required [(ngModel)]="equipo.description"></textarea>

            <button id="btnRegistrar" (click)="registrarEquipo(equipo)">Registrar</button>
            <button id="btnCerrar" (click)="emitirCerrarModal()">Cerrar</button>
        </form>
    </div>
</div>