#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Otra opción es 'space-around' */
}

.space {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.tarjeta {
    background-color: #ccc;
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}

#btnDetalle {
    border-radius: 10px;
    background-color: steelblue;
    color: white;
    width: 150px;
    height: 30px;
    cursor: pointer;
    /* Cambia 'hand' a 'pointer' para el cursor de la mano */
    transition: background-color 0.3s ease;
}

.btnAgregar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    /* Puedes cambiar el color de fondo según tu preferencia */
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnDetalle:hover {
    background-color: navy;
    /* Cambia el color de fondo en el hover */
}

.btnAgregar:hover {
    background-color: navy;
}